# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store

# Local DB storage
chroma_db/
chroma/

# App specific
*.pdf
*.docx
.streamlit/
.env
*.sqlite
*.sqlite3
*.db
